@media only screen and (max-width: 786px) {
  .body {
    width: 50px;
  }
  .main-content1 {
    width: 50px;
  }
  .main-content1-wrapper {
    width: 50px;
  }
}

#header {
  border-bottom: 6px double lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 325px;
  margin-right: 325px;
}

#header h1 {
  font-size: xx-large;
}

.header-link {
  color: tomato;
  text-decoration: none;
}

.header-link:hover {
  background-color: lightgray;
}

#header h6 {
  text-align: center;
}

#header,
h1,
h6 {
  text-align: center;
}

h1 {
  color: tomato;
}

.content {
  display: flex;
  justify-content: center;
}

#homeimgs {
  display: flex;
  justify-content: center;
}

.img1wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.img2wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.img3wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.img1 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
}

.img2 {
  width: 200px;
  height: 200px;
}

.img3 {
  width: 200px;
  height: 200px;
}

.button {
  display: flex;
  justify-content: center;
}

.button1 {
  background-color: orange;
  width: 150px;
  color: white;
}

.button1:hover {
  background-color: green;
}

/* Next section */

.quote {
  background-size: cover;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, white, black);
}

.quote-text {
  color: white;
}

/* Next section */

.main-content1-wrapper {
  display: flex;
  flex-direction: row;
  width: 99%;
  padding-left: 250px;
  justify-content: space-between;
}

.main-content1 {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.main-content1-text1 {
  float: left;
}

.main-content1-img1 {
  width: 470px;
  height: 200px;
}

.button2 {
  background-color: orange;
  width: 20%;
  font-size: 10px;
}

.button2:hover {
  background-color: green;
}

.main-content1-sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: auto;
}

.date-container {
  border-bottom: 3px solid lightgray;
}

.date-container2 {
  border-bottom: 3px double grey;
}

.date {
  background-color: grey;
  color: white;
  width: 18%;
  display: flex;
  justify-content: center;
}

.sidebar-post {
  width: 50px;
  float: top;
  margin: 0;
  padding: 0;
  border-bottom: 3px thin grey;
}

.sidebar-body {
  display: inline-block;
}

.sidebar-pics {
  width: 70px;
  height: 70px;
  float: left;
  clear: right;
  padding-right: 10px;
}

.button3 {
  background-color: orange;
  width: 25%;
  font-size: 10px;
}

.button3:hover {
  background-color: green;
}

.underline {
  border-bottom: 3px double lightgrey;
  line-height: 1.4;
}

.undeline-sidebar {
  border-bottom: 3px double lightgrey;
  line-height: 1.4;
}

/* Footer Section - Top */

#footer {
  background-color: black;
}

#footer-container-top {
  background-color: lightgray;
}

.footer-title {
  text-align: center;
}

h3 {
  display: inline-block;
}

.questions {
  color: grey;
}

.touch {
  color: black;
}

/* Footer Section - Bottom */

#footer-container-bottom {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  justify-content: space-between;
}

.footer-left-column {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.name-email {
  display: inline-flex;
  justify-content: space-between;
}

#name {
  width: 90%;
}

#email {
  width: 90%;
}

#message {
  display: flex;
  width: 98%;
}

.button4 {
  display: flex;
  justify-content: center;
  background-color: orange;
  width: 40%;
  font-size: 10px;
}

.button4:hover {
  background-color: green;
}

.mail-img {
  width: 15px;
  height: 15px;
}

/* Right Column */

.footer-right-column {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  width: 648px;
  height: 300px;
}

.footer-right-column-top {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  float: right;
  padding-left: 20px;
}

.comments-desc {
  margin: 0;
  display: inline-block;
  width: 75%;
}

.home {
  display: flex;
}

.footer-right-column-left {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 10px;
}

.footer-right-column-right {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  height: auto;
  margin: 10px;
}

.home-img {
  background-color: mediumblue;
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.home-desc {
  display: inline-block;
  width: 90%;
}

.phone-img {
  background-color: mediumblue;
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.phone-desc {
  display: inline-block;
  width: 90%;
}

.email-img {
  background-color: mediumblue;
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.email-desc {
  display: inline-block;
  width: 90%;
}

.twitter-img {
  background-color: mediumblue;
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.twitter-desc {
  /*background-color: maroon;*/
  display: inline-block;
  width: 90%;
}

.insta-img {
  background-color: mediumblue;
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.insta-desc {
  display: inline-block;
  width: 90%;
}

.dribbble-img {
  background-color: mediumblue;
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.dribbble-desc {
  display: inline-block;
  width: 90%;
}

.facebook-img {
  background-color: mediumblue;
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.facebook-desc {
  display: inline-block;
  width: 90%;
}

#header2 {
  border-bottom: 6px double grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 270px;
  margin-right: 270px;
}

#header2 h1 {
  font-size: xx-large;
}

#header2 h6 {
  text-align: center;
}

h6 {
  text-align: left;
}

#main2 {
  display: flex;
  flex-direction: row;
  width: 65%;
  padding-left: 200px;
  justify-content: space-between;
}

.main-content2-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 59%;
  padding-right: 10px;
  justify-content: flex-start;
  align-content: flex-start;
}

.main-content2 {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.main-content2-sidebar {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-right: auto;
}

.main-content2-img1 {
  width: 100%;
}

/*Page 3*/

.main-content3-wrapper {
  width: 55%;
}

.main-content3 p {
  width: 530px;
}

.main-content3 {
  padding-right: 80px;
  padding-left: 20px;
  width: 100%;
}

.main-content3-img1 {
  width: 520px;
  height: 200px;
}

.main-content-blog-sidebar {
  width: 42%;
  padding-left: 70px;
  padding-right: 5px;
}

/*Page 4*/

.blogpost-text-right {
  width: 80%;
}

.sidebar-post {
  width: 100%;
}

.main-content4-wrapper {
  margin-left: 325px;
  margin-right: 325px;
}

.main-content4 {
  display: flex;
  justify-content: center;
}

.main-content4-img-container {
  display: flex;
  justify-content: center;
}

.main-content4-img {
  width: 100%;
  height: 300px;
}
